@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

/* || RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p{
  margin-left: .5em;
  margin-right: .5em;
  margin-bottom: 1em;
  text-align: left;
  /*background-color: red;*/
  
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button{
  height:40px;
  color: #fff;
  background: crimson;
  font-size: 25px;
  padding: 5px 10px;
  /*margin-top: 20px;*/
  /*margin-left: 2%;*/
  margin-right: auto;
  margin-right: auto;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  transition: 2s ease;
  cursor: pointer;


}
button:hover{
  background: none;
  border: 2px solid crimson;
  color:crimson;
  z-index: 1;

}
/*Varibales*/
:root {
  --clr-dark: #070a12;
  --clr-light: #f1f5f9;
  --clr-accent: #e11d48;
  --clr-lightRose: #fb7185;
  --clr-green: #4ade80;
  --clr-sky: #38bdf8;
  --clr-pink: #f472b6;
  --clr-violet: #a78bfa;
  --clr-yellow: #facc15;
  /*--fnt-sm: 15rem;*/
  --fnt-logo-ext-sm: 8.5rem;
  --fnt-bold-ext-sm: 200%;

}


/* || OPEN SCENE */

.preLoadcontainer{
  background-color: var(--clr-dark);
  animation-name: bkgnd;
  animation-duration: 22s;
  animation-fill-mode: forwards;
}
@keyframes bkgnd{
  0%{
      opacity: 100%;
  }
  99%{
      opacity: 100%;
  }
  100%{
      opacity: 0%;
  }
}

.preLoadcontainer1{
  animation-name: expand1;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  
}
@keyframes expand1{
  0% {
  color: var(--clr-light);
  transform: scale(0%,0%);
  opacity: 0%;
  }    
  15%{
  transform: scale(100%,100%);
  opacity: 100%;

  }
  75%{
  
  }
  90%{
      transform: scale(100%,100%);
      opacity: 100%;    
  }
  100%{
  opacity: 0%;
  }

}

  
.preLoadcontainer2{
  
  transform: translateY(20rem);
  animation-name: expand2;
  animation-duration: 12s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-delay: 8s;
  /*border: 2px solid red;*/
  /*margin: 0% 0% 0% 2%;*/
  /*padding: 5em 0em 0em 8em;*/
}


@keyframes expand2{
  0% {
  color: var(--clr-light);
      transform: scale(0%,0%);

  opacity: 0%}
      
  25%{
  transform: scale(100%,100%);
          
  opacity: 100%;
  }
  50%{
  transform: scale(100%,100%);
  opacity: 50%;
  }
  75%{
          
  }
  100%{
      
  opacity: 0%;
  }
}
.preLoadcontainer3{
  color: var(--clr-light);
  animation-name: expand3;
  animation-duration: 32s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-delay: .2s;
}
  
  
      
@keyframes expand3{
      0% {
      
      transform: scale(0%,0%);
  
      opacity: 0%;
      }
          
      2%{
      color: var(--clr-pink);
      transform: scale(100%,100%);     
      opacity: 100%;
      }
      50%{
      
      }
      99%{
          opacity: 100%;
              
      }
      100%{
          
          opacity: 0%;
  }

}

.photoSplash1{
  opacity: 0;
  animation-name: expand3;
  animation-duration: .8s;
  animation-delay: 17.5s;
}
  
  
      
@keyframes expand3{
      0% {
  
      opacity: 100%}
          
      2%{
              
  
      }
      50%{
      
      }
      98%{
      
              
      }
      100%{
          
          opacity: 100%;
  }

}

.photoSplash2{
  opacity: 0;
  animation-name: expand4;
  animation-duration: .8s;
  animation-delay: 18.3s;
}
  
@keyframes expand4{
      0% {
      opacity: 100%
      }
      2%{
      }
      50%{
      }
      98%{       
      }
      100%{
      opacity: 100%;
  }

}

.photoSplash3{
  opacity: 0;
  animation-name: expand5;
  animation-duration: .8s;
  animation-delay: 19.1s;
}
  
  
      
@keyframes expand5{
      0% {
  
      opacity: 100%}
          
      2%{
              
  
      }
      50%{
      
      }
      98%{
      
              
      }
      100%{
          
          opacity: 100%;
  }

}

.photoSplash4{
  opacity: 0;
  animation-name: expand6;
  animation-duration: .8s;
  animation-delay: 19.9s;
}
  
  
      
@keyframes expand6{
      0% {
  
      opacity: 100%}
          
      2%{
              
  
      }
      50%{
      
      }
      98%{
      
              
      }
      100%{
          
          opacity: 100%;
  }

}

.preLoadcontainer{

  width: 100%;
  height: 100%;
  position: fixed;

  z-index: 1;
      
          
}
  
.preLoadcontainer1{
  opacity: 0;
  width: 100%;
  height: 200px;
  margin-top: 40%;
  margin-left: 1em;
  margin-right: 1em;
  max-width: 85vw;
  overflow: wrap;
  font-size: 18px;
  position: fixed;
  text-align: center;
}

.preLoadcontainer2{
  opacity: 0;
  width: 100%;
  height: 200px;
  margin-top: 40%;
  margin-left: 1em;
  margin-right: 1em;
  max-width: 85vw;
  overflow: wrap;
  font-size: 18px;
  position: fixed;
  text-align: center;
  z-index: 1;
}

.preLoadcontainer3{
  font-family: "Reenie Beanie";
  opacity: 0;
  position: fixed;
  bottom:0;
  /*padding-bottom: 25px;*/
  width:100%;
  text-align: center;
  z-index: 2;
  
}
.photoSplash1{
  opacity: 0;
  display:grid;
  place-content: center;
  margin-top: 5%;
  
}
.photoSplash2{
  display: grid;
  place-content: center;    
  margin-top: 40px;
}

.photoSplash3{
  display: grid;
  place-content: center;
  margin-top: 40px;
}
.photoSplash4{
  display: grid;
  place-content: center;
  margin-top: 40px;
}        
.red{
  color: red;
  font-size: larger;
  
}
/* end of open scene --------------------------------------------------------------*/
/* || UTILITY CLASSES */
.nowrap {
  white-space: nowrap;
}

/* || GENERAL STYLES */
html {
  scroll-behavior: smooth;
}

body {
  width: 98%vw;
  font: 1.5rem "Nunito", sans-serif;
  min-height: 100vh;
  background-color: #2d333b;
  background-image: radial-gradient(whitesmoke, #23272c);
  display: flex;
  flex-direction: column;
  /*border: 4px solid blue;*/
}

header,
footer {

  position: sticky;
  background-color: black;
  color: whitesmoke;
  text-align: center;
  font-family: "Reenie Beanie";
  z-index: 1;
  text-decoration: none;
  /*border: 4px solid green;*/
}

header {
  top: 0;
}

nav {
  background-color: #fff;
  padding: 0.5rem;
  border-bottom: 2px solid #000;
  font-weight: bolder;
  display: flex;
  justify-content: space-evenly;
}

nav a:any-link {
  color: #000;
}

nav :is(a:hover, a:focus) {
  color: hsla(0, 0%, 20%, 0.6);
}

nav a:active {
  color: red;
}

main, .dClass-3 {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
  padding: 2rem;

}


table, th, tr, td{

  
  border: 1px solid black;
  border-radius: 5px;
  /*display: flex;*/
  /*margin-left: auto;
  margin-right: auto;*/
  font-size: .7rem;
    
}
table{
  border: 2px solid var(--clr-dark);
  border-radius: 5px;
  margin-bottom: 1rem;
  background-color: rgba(90, 90, 93, 0.512);
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  
}
.tblRates{
  border: 2px solid var(--clr-dark);
  background-color: var(--clr-dark);
  color: #cbd5e1;
  /*font-size: larger;*/
  font-weight: bolder;
}
.tbl{
  /*width: 100%;*/
  /*overflow: auto;*/
  /*min-width: 100px;*/
  font-size: 6px;
  
}

.spcPrice{
  font-weight: bold;
  font-size: larger;
  text-align: center;
  border: 3px double red;
}


footer {
  /*background-color: red;*/
  bottom: 0;
  text-decoration: none;
  height:80px;
  z-index: 1;
}
.footFade{

  z-index: 1;
}
.footSpan{
  color: var(--clr-light);
  text-decoration: none;
  font-size: 1.4rem;
}
.cRight{
  
  font-size: 1.4rem;
  font-family: "Reenie Beanie";
  position: sticky;
  bottom:0;
  padding-bottom: 25px;
  width:100%;
  text-align: center;

}
.copyRight{
  color: var(--clr-light);
  text-decoration: none;

}

/* || PROFILE CARD */
.card {
  scroll-margin-top: 8rem;
  width: min(100%, 350px);
  background-color: #cbd5e1;
  border: 2px solid #000;
  border-radius: 15px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card:target {
  border: 2px solid rebeccapurple;
}

.card figure {
  display: flex;
  flex-flow: column nowrap;
}

.card img {
  border: 5px double #333;
  border-radius: 50%;
}

.card img:not([alt]) {
  border: 10px solid red;
}

.card:nth-child(even) {
  background-color: papayawhip;
}

.card figcaption, h2 {
  font-weight: bolder;
  font-size: 2rem;
  margin: 1rem;
  text-align: center;
}

.card figcaption::after {
  content: '✨';
  display: block;
}

.card figcaption::first-letter {
  font-size: 3rem;
}

.card p {
  position: relative;
}

.card p::before {
  content: open-quote;
  font-size: 3em;
  position: absolute;
  top: -0.25em;
  left: -0.5em;
}

.card p::after {
  content: close-quote;
  font-size: 3em;
  position: absolute;
  top: -0.25em;
  right: -0.5em;
}
/* contact us page*/
.contact-container{
  height: 78vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.contact-left{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}
.contact-left-title h2{
  font-weight: 600;
  color: var(--clr-dark);
  font-size: 40px;
  margin-bottom: 5px;
}
.contact-left-title hr{
  border:none;
  width:240px;
  height:5px;
  background-color: var(--clr-sky);
  border-radius: 10px;
  margin-bottom: 20px;
}
.contact-inputs{
  width:400px;
  height:50px;
  border:none;
  outline:none;
  padding-left:25px;
  font-weight: 500;
  color: var(--clr-violet);
  border-radius: 50px;
}
.contact-left textarea{
  height:140px;
  padding-top:15px;
  border-radius: 20px;
}
.contact-inputs:focus{
  border:2px solid var(--clr-accent)
}
/* intake page-intake page-intake page intake page- intake page march 25th 2024*/
.intake-container{
  height:670vh;
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /*border:2px solid red;*/
}
.intake-left{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  /*border: 4px solid green;*/
}
.intake-right{

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  /*border: 2px solid blue;*/
}
.intake-left-title h2{
  font-weight: 400;
  color: var(--clr-dark);
  font-size: 40px;
  margin-bottom: 15px;
}
.intake-left-title hr{
  border:none;
  width:240px;
  height:5px;
  background-color: rgb(72, 72, 72);
  border-radius: 10px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
.intake-contact-inputs{
  width:250px;
  height:30px;
  border:none;
  outline:none;
  padding-left:25px;
  padding-right: 1px;
  font-weight: 200;
  color: var(--clr-dark);
  border-radius:25px;

}
.intake-foot{
  position:sticky;
  /*border:2px solid green;*/

}
.your-info-1, .your-info-2, .your-info-3, .your-info-4{
  flex-direction: row;
  text-align: center;
  border:2px solid black;
  border-radius: 15px;
  background-image: radial-gradient(whitesmoke, #0f0d0d);
  padding: 10px 5px 10px 5px;
  
}
.intake-info-1{
  flex-direction: row;
  text-align: center;
  border:2px solid black;
  border-radius: 15px;
  background-image: radial-gradient(whitesmoke, #0f0d0d);
  padding: 10px 5px 10px 5px;
  font-size: .8rem;
  z-index: 0;
}
.intake-p-refund{
  text-align: center;
}
.radio-btn{
  font-size: 20px;
  display: flex;
  flex-direction: row;
  padding: 10px 0px 10px 0px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border:2px solid black;
  border-radius: 15px;
  background-image: radial-gradient(whitesmoke, #0f0d0d);

}
.radio-btn-2{
  font-size: 20px;
  width:auto;
  display: flex;
  flex-direction: row;
  align-content: center;
  position: relative;
  padding: 10px 10px 10px 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border:2px solid rgb(30, 29, 29);
  border-radius: 15px;
  background-image: radial-gradient(whitesmoke, #2e2929);
}

.radio-btn-3{
  font-size: 20px;
  width:auto;
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 10px 10px 10px 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border:2px solid rgb(30, 29, 29);
  border-radius: 15px;
  background-image: radial-gradient(whitesmoke, #0f0d0d);

}
.checkbox{
  display: flex;
  border: 5px solid red;
  padding-left: 15px;
  text-align: end;
}
/*table march 24, 2024   table march 24, 2024  table march 24, 2024   table march 24, 2024*/

.tbl-int{
  width:65vw;
  text-align: left;
  margin-top: 2rem;
  background-color: #3a3b3f;
  color: #939497;
  display: flexbox;
  position: relative;

}
.input-two{
  width: 100px;

}

figcaption{
  text-align: center;
  font-size: 3rem;
}

table{
  font-size: 18px;
}
#btn-intk{
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.intake-inputs:focus{
  border:2px solid var(--clr-accent)
}

.serv-aval-container{
  background-color: red;
  display: grid;
  flex-direction: column;
}
#serv-aval-left{
  height:75px;
  width:375px;
  background-color: blue;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.0rem;
  text-align: center;
}
#serv-aval-center{
  height:75;
  width:375px;
  background-color: green;
  display: inline-flexbox;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: .9rem;
}

/* || XX SMALL */
@media screen and (min-width: 320px) {
  .photoSplash1, .photoSplash2, .photoSplash3, .photoSplash4{
    width: 100px;
    display:grid;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    place-content: center;
    margin-top: 5%;
  
  }
  main {
    justify-content: center;
    flex-flow: row wrap;
    padding: 1rem;
  }
  .homeHead{
    height: 3.5em;

  }
  header{
    font-size: 2.0rem;
    font-weight: bold;
    
  
  }

  .card {
    width: min(100%, 400px);
  }

  .card:last-child {
    order: -1;
  }

  button{
    margin-left: 28%;
  }
  form{
    height:75vh;
  }
  .contact-inputs{
    width:70vw;
  }
  
}
/* || X SMALL */
@media screen and (min-width: 375px) {
  .photoSplash1, .photoSplash2, .photoSplash3, .photoSplash4{
    width: 118px;
    display:grid;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    place-content: center;
    margin-top: 5%;
  
  }
  table{
    font-size: larger;
  }
  main {
    justify-content: center;
    flex-flow: row wrap;
    padding: 1rem;
  }
  .homeHead{
    height: 3.5em;

  }
  header{
    font-size: 2.5rem;
    font-weight: bold;
  
  }

  .card {
    width: min(100%, 400px);
  }

  .card:last-child {
    order: -1;
  }

  button{
    margin-left: 33%;
  }
  table{
    font-size: 22px;
  }
  .intake-container{
    height:612vh;
  }
  
}
/* || SMALL */
@media screen and (min-width: 576px) {
  .photoSplash1, .photoSplash2, .photoSplash3, .photoSplash4{
    width: 150px;
    display:grid;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    place-content: center;
    margin-top: 0px;
    
  
  }
  main {
    justify-content: center;
    flex-flow: row wrap;
    padding: 1rem;
  }
  .homeHead{
    height: 3.5em;

  }
  header{
    font-size: 2.5rem;
    font-weight: bold;
  
  }

  .card {
    width: min(100%, 400px);
  }

  .card:last-child {
    order: -1;
  }

  button{
    margin-left: 38%;
  }
  .preLoadcontainer1, .preLoadcontainer2{
    margin-left: 2.5em;
    margin-top: 50px;
  }
 
  .contact-container{
    height: 78vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .contact-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
  }
  .contact-left-title h2{
    font-weight: 600;
    color: var(--clr-dark);
    font-size: 40px;
    margin-bottom: 5px;
  }
  .contact-left-title hr{
    border:none;
    width:240px;
    height:5px;
    background-color: var(--clr-sky);
    border-radius: 10px;
    margin-bottom: 20px;
  }
  .contact-inputs{
    width:200px;
    height:50px;
    border:none;
    outline:none;
    padding-left:25px;
    font-weight: 500;
    color: var(--clr-violet);
    border-radius: 50px;
  }
  .contact-left textarea{
    height:140px;
    padding-top:15px;
    border-radius: 20px;
  }
  .contact-inputs:focus{
    border:4px solid var(--clr-accent)
  }
  .intake-container{
    height:568vh;
  }
}

/* || MEDIUM */
@media screen and (min-width: 768px) {
  header{
    height:40px;
    font-size: 2.2rem;
  }

  .preLoadcontainer1{
    opacity: 0;
    width: 100%;
    height: 200px;
    margin-top: 10%;
    margin-left: 1em;
    margin-right: 1em;
    max-width: 85vw;
    overflow: wrap;
    font-size: 28px;
    position: fixed;
    text-align: center;
  }
  
  .preLoadcontainer2{
    opacity: 0;
    width: 100%;
    height: 200px;
    margin-top: 10%;
    margin-left: 1em;
    margin-right: 1em;
    max-width: 85vw;
    overflow: wrap;
    font-size: 28px;
    position: fixed;
    text-align: center;
    z-index: 1;
  }

  
  nav {
    display: none;
  }

  .card {
    width: min(100%, 325px);
  }

  .card figure {
    flex-flow: column-reverse;
  }

  .card p {
    margin-top: 1rem;
  }
  .intake-container{
    height: 530vh;
  }
}

/* || LARGE */
@media screen and (min-width: 992px) {
  header{
    height:60px;
    font-size: 2.2rem;
  }
  button{
    margin-left: 46%;
  }

  .card {
    width: min(100%, 400px);
  }

  .card:nth-child(2) {
    order: -1;
  }

  .preLoadcontainer1{
    opacity: 0;
    width: 100%;
    height: 200px;
    margin-top: 10%;
    margin-left: 1.5em;
    margin-right: 1em;
    max-width: 85vw;
    overflow: wrap;
    font-size: 28px;
    position: fixed;
    text-align: center;
    font-size: 225%;
  }
  
  .preLoadcontainer2{
    opacity: 0;
    width: 100%;
    height: 200px;
    margin-top: 10%;
    margin-left: 1.8em;
    margin-right: 0em;
    max-width: 85vw;
    overflow: wrap;
    font-size: 28px;
    position: fixed;
    text-align: center;
    font-size: 225%;
    z-index: 1;
  }
  .preLoadcontainer3{
    font-family: "Reenie Beanie";
    opacity: 0;
    position: fixed;
    bottom:0;
    /*padding-bottom: 25px;*/
    width:100%;
    text-align: center;
    z-index: 2;
    font-size: 175%;
    
  }
  .intake-container{
    height: 500vh;
  }

}

/* || XL  */
@media screen and (min-width: 1200px) {
  .card {
    width: min(calc(33% - 1rem), 500px);
  }
}

/* || MOBILE DEVICE LANDSCAPE  */
@media screen and (max-height: 425px) and (min-aspect-ratio: 7/4) {
  h1 {
    font-size: 1.5rem;
  }

  nav {
    display: none;
  }

  main {
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: stretch;
  }

  .card {
    width: min(calc(33% - 0.25rem), 200px);
  }

  .card :is(figcaption, p) {
    font-size: 1.25rem;
  }
}
@media (max-width:600px){
   .contact-right{
    display: none;
  }
  .contact-inputs{
    width:70vw;
  }
}